In [1]:
# from google.colab import drive
# drive.mount('/content/drive')

## Package imports and settings

In [2]:
import pandas as pd
import seaborn as sns
import datetime as dt
import cpi
import requests
import re
from unidecode import unidecode

In [3]:
from prophet import Prophet
from prophet.plot import plot_plotly, plot_components_plotly

In [4]:
from thefuzz import fuzz
from thefuzz import process

In [5]:
# Right after importing seaborn (could also use 'whitegrid')
sns.set_theme(style='whitegrid', context='talk')

In [6]:
# surpress scientific notation
pd.options.display.float_format = '{:.2f}'.format

# Importing Data

## Lobster Export Data

### Which codes do relate to lobsters?

From : https://www.ic.gc.ca/app/scr/tdst/tdo/crtr.html?grouped=INDIVIDUAL&searchType=KS_CS&naArea=9999&countryList=ALL&toFromCountry=CDN&reportType=TE&timePeriod=5%7CComplete+Years&currency=CDN&productType=HS6&hSelectedCodes=%7C10600%7C30611%7C30612%7C30615%7C30621%7C30622%7C30625%7C30631%7C30632%7C30634%7C30691%7C30692%7C30694%7C160530&runReport=true

Searched for all codes containing word "lobster"

In [7]:
# jlab
path_1605 = 'data/full_data/1605_88Jan_to_23Sep_ATP_PV_Monthly.csv'
df_1605_full = pd.read_csv(path_1605, engine = 'python', skipfooter = 3,index_col=False, header = 1)
df_1605_full.head()

,Period,Commodity,Province,Country,State,Value ($),Quantity,Unit of measure
0,2013-04-01,"1605.21.00 - Shrimps and prawns, prepared or p...",Newfoundland and Labrador,United States,California,195111,29802,Weight in kilograms
1,2013-12-01,"1605.21.00 - Shrimps and prawns, prepared or p...",Newfoundland and Labrador,United States,California,285427,35966,Weight in kilograms
2,2017-10-01,"1605.59.00 - Molluscs, prepared or preserved, nes",Newfoundland and Labrador,United States,California,185609,22500,Weight in kilograms
3,2014-08-01,"1605.10.91 - Crab, snow (Queen), prepared or p...",Newfoundland and Labrador,United States,Alabama,191769,14969,Weight in kilograms
4,2013-01-01,"1605.21.00 - Shrimps and prawns, prepared or p...",Newfoundland and Labrador,United States,California,170470,16053,Weight in kilograms

In [8]:
path_0306 = 'data/full_data/0306-Crust-Jan88-to-Sep23-prov.csv'
df_0306_full = pd.read_csv(path_0306, engine = 'python', skipfooter = 3,index_col=False, header = 1)
df_0306_full.head()

,Period,Commodity,Province,Country,State,Value ($),Quantity,Unit of measure
0,2014-06-01,"0306.16.10 - Cold-water shrimps and prawns, fr...",Newfoundland and Labrador,Greenland,NaN,220915,66528,Weight in kilograms
1,2023-04-01,"0306.14.10 - Crabs, snow (Queen), frozen",Newfoundland and Labrador,United States,California,1111067,61916,Weight in kilograms
2,2015-01-01,"0306.16.10 - Cold-water shrimps and prawns, fr...",Newfoundland and Labrador,Greenland,NaN,753558,174576,Weight in kilograms
3,2015-06-01,"0306.16.10 - Cold-water shrimps and prawns, fr...",Newfoundland and Labrador,Greenland,NaN,883171,199392,Weight in kilograms
4,2015-07-01,"0306.17.10 - Shrimps and prawns, frozen, in sh...",Newfoundland and Labrador,Saint Pierre and Miquelon,NaN,704,45,Weight in kilograms

## Country GDP

In [9]:
# TODO store API key as env variable 
api_key = 'DsPAQbicFL8WYvYihOWoFQ==Vd8zztny3V9w3Q7n'

In [10]:
gdp_data = pd.read_csv('data/gdp-data/gdp_data.csv',engine= 'python', header = 2)
gdp_data

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2791061452.51,2963128491.62,2983798882.68,3092178770.95,3276187709.50,3395793854.75,2610038938.55,3126019385.47,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,21125015452.20,21616228139.04,23506279899.97,28048360188.28,25920665259.89,29472103269.74,...,1006526390112.83,927348469903.11,885176429223.51,1021043200767.01,1007196197587.41,1000834077088.55,927593321647.66,1081998139192.47,1169483734191.46,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,537777811.11,548888895.56,546666677.78,751111191.11,800000044.44,1006666637.78,...,20550582746.84,19998143635.87,18019554403.45,18896353155.88,18418860354.42,18904502222.21,20143451705.75,14583135236.57,NaN,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,10447637852.92,11173212080.39,11990534017.87,12727688165.45,13898109284.02,14929792387.52,...,894322482190.28,768644740597.12,691363412188.46,684898755570.72,767025741475.04,822538393591.45,786460035395.03,844459722152.99,877863284874.07,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,137244439121.37,87219300384.51,49840491178.15,68972769395.63,77792944471.95,69309110145.77,50241368243.63,65685435100.50,106713618735.43,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7074392884.05,6295845465.36,6682674062.96,7180768692.26,7878762812.20,7899741278.94,7717143395.26,9412034299.23,9429156201.96,NaN
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,43228585321.33,42444489460.94,31317824906.44,26842231204.80,21606161066.21,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8748596504.06,9225996313.29,9813996078.33,10854195662.66,11955995222.38,13068994777.63,...,381198869776.11,346709790458.56,323585509674.48,381448814653.46,404158882459.02,388531226582.35,337619569570.51,419015636064.71,405869718462.34,NaN
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,713000000.00,696285714.29,693142857.14,718714285.71,839428571.43,1082857142.86,...,27141023558.08,21251216798.78,20958412538.31,25873601260.84,26311506435.06,23308667781.23,18110638619.37,22147649568.61,29784454055.94,NaN
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1052990400.00,1096646600.00,1117601600.00,1159511700.00,1217138000.00,1311435800.00,...,19495519600.00,19963120600.00,20548678100.00,17584890936.65,34156069918.06,21832234925.50,21509698406.11,28371238665.51,20678055597.73,NaN

In [11]:
gdp_data.drop(columns= ['Country Code', 'Indicator Name', 'Indicator Code'], inplace=True)

In [12]:
gdp_data

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2791061452.51,2963128491.62,2983798882.68,3092178770.95,3276187709.50,3395793854.75,2610038938.55,3126019385.47,NaN,NaN
1,Africa Eastern and Southern,21125015452.20,21616228139.04,23506279899.97,28048360188.28,25920665259.89,29472103269.74,32014368121.37,33269509510.46,36327785494.93,...,1006526390112.83,927348469903.11,885176429223.51,1021043200767.01,1007196197587.41,1000834077088.55,927593321647.66,1081998139192.47,1169483734191.46,NaN
2,Afghanistan,537777811.11,548888895.56,546666677.78,751111191.11,800000044.44,1006666637.78,1399999966.67,1673333417.78,1373333366.67,...,20550582746.84,19998143635.87,18019554403.45,18896353155.88,18418860354.42,18904502222.21,20143451705.75,14583135236.57,NaN,NaN
3,Africa Western and Central,10447637852.92,11173212080.39,11990534017.87,12727688165.45,13898109284.02,14929792387.52,15910837741.97,14510579888.72,14968235781.96,...,894322482190.28,768644740597.12,691363412188.46,684898755570.72,767025741475.04,822538393591.45,786460035395.03,844459722152.99,877863284874.07,NaN
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,137244439121.37,87219300384.51,49840491178.15,68972769395.63,77792944471.95,69309110145.77,50241368243.63,65685435100.50,106713618735.43,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7074392884.05,6295845465.36,6682674062.96,7180768692.26,7878762812.20,7899741278.94,7717143395.26,9412034299.23,9429156201.96,NaN
262,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43228585321.33,42444489460.94,31317824906.44,26842231204.80,21606161066.21,NaN,NaN,NaN,NaN,NaN
263,South Africa,8748596504.06,9225996313.29,9813996078.33,10854195662.66,11955995222.38,13068994777.63,14211394321.13,15821393677.77,17124793156.93,...,381198869776.11,346709790458.56,323585509674.48,381448814653.46,404158882459.02,388531226582.35,337619569570.51,419015636064.71,405869718462.34,NaN
264,Zambia,713000000.00,696285714.29,693142857.14,718714285.71,839428571.43,1082857142.86,1264285714.29,1368000000.00,1605857142.86,...,27141023558.08,21251216798.78,20958412538.31,25873601260.84,26311506435.06,23308667781.23,18110638619.37,22147649568.61,29784454055.94,NaN
265,Zimbabwe,1052990400.00,1096646600.00,1117601600.00,1159511700.00,1217138000.00,1311435800.00,1281749500.00,1397002000.00,1479599900.00,...,19495519600.00,19963120600.00,20548678100.00,17584890936.65,34156069918.06,21832234925.50,21509698406.11,28371238665.51,20678055597.73,NaN

In [13]:
gdp_country_list = pd.DataFrame(data=gdp_data['Country Name'].unique(), columns = ['gdp_country'])
gdp_country_list = gdp_country_list.sort_values(by='gdp_country', ignore_index= True)
gdp_country_list

                     gdp_country
0                    Afghanistan
1    Africa Eastern and Southern
2     Africa Western and Central
3                        Albania
4                        Algeria
..                           ...
261           West Bank and Gaza
262                        World
263                  Yemen, Rep.
264                       Zambia
265                     Zimbabwe

[266 rows x 1 columns]

## Inflation

In [14]:
# from fred, index 2015, 100
inflation_data = pd.read_csv('data/CPI-data-fred.csv')
inflation_data = inflation_data.rename(columns = {'DATE': 'Period', 'CPALCY01CAM661N':'cpi_val'})
inflation_data['Period'] = pd.to_datetime(inflation_data['Period'])

In [15]:
inflation_data

        Period  cpi_val
0   1988-01-01    56.93
1   1988-02-01    57.33
2   1988-03-01    57.49
3   1988-04-01    57.65
4   1988-05-01    57.97
..         ...      ...
424 2023-05-01   124.51
425 2023-06-01   125.07
426 2023-07-01   125.23
427 2023-08-01   126.03
428 2023-09-01   125.87

[429 rows x 2 columns]

# 1. Cleaning
---
---

### Merge 1605 and 0306

In [16]:
# concat function
def concat_dfs(df_list):
    df = pd.concat(df_list, axis = 0, ignore_index = True)
    return df

In [17]:
full_data = concat_dfs([df_1605_full,df_0306_full])

## Cleaning Steps

In [18]:
# perform cleaning set on combined data set
def cleaning_steps(df_name):
    # make lower case
    df_name['Commodity'] = df_name['Commodity'].str.lower()
    # keep only commodities that mention 'lobster'
    df_name = df_name[df_name['Commodity'].str.contains('lobster')].reset_index(drop=True)
    # drop extra columns
    df_name = df_name.drop(columns = ['Unit of measure'])
    # rename columns
    new_col_names = {'Value ($)': 'Value', 'Quantity': 'Quantity_kg'}
    df_name = df_name.rename(columns=new_col_names)
    # update period to datetime object
    df_name['Period'] = pd.to_datetime(df_name['Period'])
    return df_name

In [19]:
data_clean = cleaning_steps(full_data)
data_clean

,Period,Commodity,Province,Country,State,Value,Quantity_kg
0,2017-05-01,"1605.30.10 - lobster, prepared or preserved, f...",Newfoundland and Labrador,United States,Massachusetts,2454203,42059
1,2018-06-01,"1605.30.10 - lobster, prepared or preserved, f...",Newfoundland and Labrador,United States,Massachusetts,2199419,48158
2,2014-06-01,"1605.30.11 - lobster meat, frozen, cooked by s...",Newfoundland and Labrador,United States,Massachusetts,1299983,38486
3,2014-10-01,"1605.30.11 - lobster meat, frozen, cooked by s...",Newfoundland and Labrador,United States,Massachusetts,151542,3475
4,2014-11-01,"1605.30.11 - lobster meat, frozen, cooked by s...",Newfoundland and Labrador,United States,Massachusetts,634072,22628
...,...,...,...,...,...,...,...
57380,2006-02-01,"0306.22.10 - lobsters, (homarus spp), live (te...",Northwest Territories,Hong Kong,NaN,6000,273
57381,2007-02-01,"0306.22.10 - lobsters, (homarus spp), live (te...",Northwest Territories,Japan,NaN,7200,408
57382,2007-03-01,"0306.22.10 - lobsters, (homarus spp), live (te...",Northwest Territories,"Korea, South",NaN,10080,572
57383,2006-02-01,"0306.22.10 - lobsters, (homarus spp), live (te...",Nunavut,Czechia,NaN,3000,136
57384,2011-05-01,"0306.22.10 - lobsters, (homarus spp), live (te...",Nunavut,Russian Federation,NaN,15120,857

### Adjust value to today's dollars

In [20]:

def inflation_adjustment(df_name, cpi_df):
    ''' adjust monetary features into today's dolars, index 2015 = 100'''
    df_name = df_name.merge(cpi_df, how='inner', on='Period')
    today_cpi = cpi_df.loc[cpi_df['Period'] == cpi_df['Period'].max(), 'cpi_val'].item()
    # create new column to adjust to today's dollars
    # return df_name
    df_name['Value-adjusted'] = (df_name['Value'] / df_name['cpi_val']) * today_cpi
    return df_name

In [21]:
data_clean = inflation_adjustment(data_clean, inflation_data)
data_clean

,Period,Commodity,Province,Country,State,Value,Quantity_kg,cpi_val,Value-adjusted
0,2017-05-01,"1605.30.10 - lobster, prepared or preserved, f...",Newfoundland and Labrador,United States,Massachusetts,2454203,42059,102.17,3023516.55
1,2017-05-01,"1605.30.10 - lobster, prepared or preserved, f...",New Brunswick,United States,Massachusetts,20137016,370393,102.17,24808298.71
2,2017-05-01,"1605.30.90 - lobster, prepared or preserved, nes",Prince Edward Island,United States,California,31113,1633,102.17,38330.44
3,2017-05-01,"1605.30.10 - lobster, prepared or preserved, f...",Quebec,United States,California,98603,2347,102.17,121476.42
4,2017-05-01,"1605.30.90 - lobster, prepared or preserved, nes",Prince Edward Island,United States,New Hampshire,310914,15676,102.17,383038.25
...,...,...,...,...,...,...,...,...,...
57380,1989-02-01,"0306.22.10 - lobsters, (homarus spp), live (te...",British Columbia,Hong Kong,NaN,81553,4538,59.65,172082.30
57381,1989-02-01,"0306.12.10 - lobsters in brine, (homarus spp),...",Prince Edward Island,Sweden,NaN,107235,8340,59.65,226273.05
57382,1989-02-01,"0306.22.90 - lobsters,(homarus spp), not froze...",Nova Scotia,United States,Massachusetts,16048,1316,59.65,33862.36
57383,1989-02-01,"0306.22.10 - lobsters, (homarus spp), live (te...",Nova Scotia,United States,Unknown states,124924,8381,59.65,263598.02
57384,1989-02-01,"0306.22.10 - lobsters, (homarus spp), live (te...",New Brunswick,Netherlands,NaN,96990,7144,59.65,204655.41

## Country Name Cleaning

### Clean Country Name in export data first 
before running match

In [22]:
data_clean[["Country", 'Terminated']]= data_clean["Country"].str.split(r'(',expand=True)
data_clean

,Period,Commodity,Province,Country,State,Value,Quantity_kg,cpi_val,Value-adjusted,Terminated
0,2017-05-01,"1605.30.10 - lobster, prepared or preserved, f...",Newfoundland and Labrador,United States,Massachusetts,2454203,42059,102.17,3023516.55,None
1,2017-05-01,"1605.30.10 - lobster, prepared or preserved, f...",New Brunswick,United States,Massachusetts,20137016,370393,102.17,24808298.71,None
2,2017-05-01,"1605.30.90 - lobster, prepared or preserved, nes",Prince Edward Island,United States,California,31113,1633,102.17,38330.44,None
3,2017-05-01,"1605.30.10 - lobster, prepared or preserved, f...",Quebec,United States,California,98603,2347,102.17,121476.42,None
4,2017-05-01,"1605.30.90 - lobster, prepared or preserved, nes",Prince Edward Island,United States,New Hampshire,310914,15676,102.17,383038.25,None
...,...,...,...,...,...,...,...,...,...,...
57380,1989-02-01,"0306.22.10 - lobsters, (homarus spp), live (te...",British Columbia,Hong Kong,NaN,81553,4538,59.65,172082.30,None
57381,1989-02-01,"0306.12.10 - lobsters in brine, (homarus spp),...",Prince Edward Island,Sweden,NaN,107235,8340,59.65,226273.05,None
57382,1989-02-01,"0306.22.90 - lobsters,(homarus spp), not froze...",Nova Scotia,United States,Massachusetts,16048,1316,59.65,33862.36,None
57383,1989-02-01,"0306.22.10 - lobsters, (homarus spp), live (te...",Nova Scotia,United States,Unknown states,124924,8381,59.65,263598.02,None
57384,1989-02-01,"0306.22.10 - lobsters, (homarus spp), live (te...",New Brunswick,Netherlands,NaN,96990,7144,59.65,204655.41,None

In [23]:
data_clean["Country"] = data_clean["Country"].str.strip()

In [72]:
export_country_list = pd.Series(data_clean['Country'].unique())
export_country_list = export_country_list.sort_values(ignore_index= True)
export_country_list

0              Afghanistan
1                  Albania
2      Antigua And Barbuda
3                Argentina
4                  Armenia
              ...
153                Uruguay
154             Uzbekistan
155              Venezuela
156               Viet Nam
157             Yugoslavia
Length: 158, dtype: object

In [73]:
export_country_list.to_csv('data/export_countries.csv')

In [25]:
# export clean full data for reuse

data_clean.to_csv('data/data_full_clean.csv')

### Match country names in gdp list to export country list

In [27]:
# filter GDP data by countries in export country list:
gdp_data_filtered = gdp_data[gdp_data['Country Name'].isin(export_country_list)].reset_index(drop=True)
gdp_data_filtered

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2791061452.51,2963128491.62,2983798882.68,3092178770.95,3276187709.50,3395793854.75,2610038938.55,3126019385.47,NaN,NaN
1,Afghanistan,537777811.11,548888895.56,546666677.78,751111191.11,800000044.44,1006666637.78,1399999966.67,1673333417.78,1373333366.67,...,20550582746.84,19998143635.87,18019554403.45,18896353155.88,18418860354.42,18904502222.21,20143451705.75,14583135236.57,NaN,NaN
2,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13228147516.12,11386853143.15,11861199830.84,13019726211.74,15156424061.98,15401826080.52,15162734205.25,17930565118.82,18882095517.88,NaN
3,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,414105366752.89,370275469571.14,369255326235.53,390516804029.95,427049432157.93,417989721742.68,349473015330.16,415021590687.54,507534921715.45,NaN
4,Argentina,NaN,NaN,24450604877.61,18272123664.47,25605249381.76,28344705966.64,28630474727.90,24256667553.26,26436857247.50,...,526319673731.64,594749285413.21,557532317363.45,643628396190.39,524819898586.91,447754686715.08,385540406815.60,487227125385.64,632770284408.51,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,Ukraine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,133503867181.97,91030968761.42,93355868977.66,112090503817.40,130891086689.52,153883045524.93,156617719786.25,199765856764.50,160502739236.10,NaN
116,Uruguay,1242289239.20,1547388781.43,1710004407.23,1539681490.78,1975701816.47,1890767155.53,1809185093.55,1597713469.10,1593674184.56,...,61496186973.90,57680328702.24,57480788380.31,65006047680.32,65203071110.60,62048585618.50,53666908479.56,61412268248.95,71177146197.50,NaN
117,United States,543300000000.00,563300000000.00,605100000000.00,638600000000.00,685800000000.00,743700000000.00,815000000000.00,861700000000.00,942500000000.00,...,17550680174000.00,18206020741000.00,18695110842000.00,19477336549000.00,20533057312000.00,21380976119000.00,21060473613000.00,23315080560000.00,25462700000000.00,NaN
118,Uzbekistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,80845385816.21,86196264741.94,86138288633.22,62081322741.12,52870108217.56,60283503705.39,60224701295.80,69600614988.60,80391853884.76,NaN
119,Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,233451484773.97,239258340825.53,257096001174.08,281353626107.24,310106472642.97,334365257920.29,346615750166.55,366137590717.80,408802379068.23,NaN

In [54]:
# unmatched countries 
unmatched = list(data_clean.loc[~data_clean['Country'].isin(gdp_data['Country Name']), 'Country'].unique())
unmatched = pd.DataFrame(data=unmatched, columns=['unmatched_export_countries'])

In [55]:
unmatched

                      unmatched_export_countries
0                                         Taiwan
1                                          Macao
2                               Christmas Island
3           United States Minor Outlying Islands
4                                South Africa,
5                                     Moldova,
6                               Central African
7                      Saint Pierre And Miquelon
8                                     Dominican
9                                        Bahamas
10              Bonaire, Sint Eustatius And Saba
11                                    Kyrgyzstan
12                                      Slovakia
13                                  Korea, North
14                           Trinidad And Tobago
15                                          Iran
16                           Antigua And Barbuda
17                                    Guadeloupe
18                          Netherlands Antilles
19      Former Union  Soviet Socialist Republics
20                                Czechoslovakia
21  Saint Helena, Ascension And Tristan Da Cunha
22                                    Martinique
23                          Congo, Democratic
24                            Tanzania, United
25         French Southern Antarctic Territories
26                   French Southern Territories
27                                          Laos
28                                         Syria
29                                       Tokelau
30                                     Venezuela
31             Union  Soviet Socialist Republics
32                                    Yugoslavia
33                      Turks And Caicos Islands
34                                 Cote D'Ivoire
35             Heard Island And Mcdonald Islands
36                                         Cocos
37                                Norfolk Island

In [30]:
pd.concat([unmatched, gdp_country_list], axis = 1)

    unmatched_export_countries                  gdp_country
0                    Hong Kong                  Afghanistan
1                 Korea, South  Africa Eastern and Southern
2                       Taiwan   Africa Western and Central
3                       Gambia                      Albania
4                        Macao                      Algeria
..                         ...                          ...
261                        NaN           West Bank and Gaza
262                        NaN                        World
263                        NaN                  Yemen, Rep.
264                        NaN                       Zambia
265                        NaN                     Zimbabwe

[266 rows x 2 columns]

In [31]:
# def country_match(countries_to_match, country_options):
result_df = pd.DataFrame(columns = ['country_to_match','best_match', 'all_matches'] )
for country_index in range(len(unmatched)):
        country_to_match = unmatched.iloc[country_index,0]
        collection = gdp_country_list.iloc[:,0].to_list()
        best_matches = process.extract(country_to_match, collection, scorer=fuzz.ratio)
        new_row = {'country_to_match': country_to_match, 'best_match':best_matches[0][0], 'all_matches':str(best_matches)}
        # print(pd.DataFrame(data = [new_row]))
        result_df = pd.concat([result_df, pd.DataFrame([new_row])], ignore_index=True)

        # result_df = result_df.append(country_to_match, best_matches[0], best_matches, ignore_index = True)
result_df

,country_to_match,best_match,all_matches
0,Hong Kong,"Hong Kong SAR, China","[('Hong Kong SAR, China', 62), ('Mongolia', 47..."
1,"Korea, South","Korea, Rep.","[('Korea, Rep.', 64), ('Lesotho', 53), ('Afric..."
2,Taiwan,Thailand,"[('Thailand', 71), ('Tajikistan', 62), ('Botsw..."
3,Gambia,Zambia,"[('Zambia', 83), ('Namibia', 77), ('Cambodia',..."
4,Macao,Monaco,"[('Monaco', 73), ('Curacao', 67), ('Jamaica', ..."
5,Christmas Island,Cayman Islands,"[('Cayman Islands', 67), ('Channel Islands', 6..."
6,Türkiye,Turkiye,"[('Turkiye', 86), ('Austria', 43), ('Eritrea',..."
7,United States Minor Outlying Islands,British Virgin Islands,"[('British Virgin Islands', 55), ('Northern Ma..."
8,"South Africa, Republic of",Central African Republic,"[('Central African Republic', 69), ('South Afr..."
9,"Moldova, Republic of",Slovak Republic,"[('Slovak Republic', 74), ('Dominican Republic..."
10,Egypt,"Egypt, Arab Rep.","[('Egypt, Arab Rep.', 50), ('Kenya', 40), ('Ne..."
11,Saint Pierre and Miquelon,Sierra Leone,"[('Sierra Leone', 54), ('Africa Eastern and So..."
12,Bahamas,"Bahamas, The","[('Bahamas, The', 74), ('Panama', 62), ('Bahra..."
13,"Bonaire, Sint Eustatius and Saba",Antigua and Barbuda,"[('Antigua and Barbuda', 51), ('West Bank and ..."
14,Kyrgyzstan,Kazakhstan,"[('Kazakhstan', 60), ('Pakistan', 56), ('Guyan..."
15,Slovakia,Slovenia,"[('Slovenia', 75), ('Somalia', 67), ('Slovak R..."
16,"Korea, North","Korea, Rep.","[('Korea, Rep.', 73), (""Korea, Dem. People's R..."
17,Iran,Iraq,"[('Iraq', 75), ('Ireland', 73), ('France', 60)..."
18,West Germany,Germany,"[('Germany', 74), ('Netherlands', 52), ('Switz..."
19,Guadeloupe,Guatemala,"[('Guatemala', 53), ('Tuvalu', 50), ('Ecuador'..."
20,Netherlands Antilles,Netherlands,"[('Netherlands', 71), ('Northern Mariana Islan..."
21,Former Union of Soviet Socialist Republics,Dominican Republic,"[('Dominican Republic', 53), ('Central African..."
22,Czechoslovakia,Czechia,"[('Czechia', 67), ('Colombia', 55), ('Slovenia..."
23,"Saint Helena, Ascension and Tristan da Cunha",Northern Mariana Islands,"[('Northern Mariana Islands', 47), ('Latin Ame..."
24,Martinique,Mauritius,"[('Mauritius', 63), ('Mauritania', 60), ('Moza..."
25,"Congo, Democratic Republic of the","Congo, Dem. Rep.","[('Congo, Dem. Rep.', 58), ('Central African R..."
26,"Tanzania, United Republic of",Central African Republic,"[('Central African Republic', 58), ('Dominican..."
27,French Southern Antarctic Territories,Africa Western and Central,"[('Africa Western and Central', 51), ('Africa ..."
28,French Southern Territories,French Polynesia,"[('French Polynesia', 51), ('Africa Western an..."
29,Laos,Belarus,"[('Belarus', 55), ('Lao PDR', 55), ('Lebanon',..."
30,Syria,Serbia,"[('Serbia', 73), ('Austria', 67), ('Suriname',..."
31,Tokelau,Belarus,"[('Belarus', 57), ('Guatemala', 50), ('Kenya',..."
32,Venezuela,"Venezuela, RB","[('Venezuela, RB', 82), ('New Zealand', 60), (..."
33,Union of Soviet Socialist Republics,Dominican Republic,"[('Dominican Republic', 53), ('Slovak Republic..."
34,Yugoslavia,Latvia,"[('Latvia', 62), ('Bolivia', 59), ('Bulgaria',..."
35,Côte d'Ivoire,Cote d'Ivoire,"[(""Cote d'Ivoire"", 92), ('Late-demographic div..."
36,Heard Island and McDonald Islands,Turks and Caicos Islands,"[('Turks and Caicos Islands', 60), ('Northern ..."
37,Cocos,Comoros,"[('Comoros', 67), ('Monaco', 55), ('Curacao', ..."
38,Norfolk Island,Faroe Islands,"[('Faroe Islands', 67), ('Channel Islands', 62..."
39,East Germany,Germany,"[('Germany', 74), ('Algeria', 53), ('Austria',..."

In [32]:

bannedWords = ['republic', 'rep', 'of', 'the', ',']

def RemoveBannedWords(toPrint, banned_words):
    # statement = toPrint
    pattern = re.compile(r'\b(?:' + '|'.join(map(re.escape, banned_words)) + r')\b', re.I)
    return pattern.sub("", toPrint)

# # toPrint = unmatched.loc[unmatched['unmatched_export_countries'].str.contains('tanzania'), 'unmatched_export_countries'].items()
# print(type(toPrint))
# print(toPrint)
# print(RemoveBannedWords(toPrint, bannedWords))

In [33]:
def country_cleaning(df_name, df_column):
    # print(df_name)
    # print(df_name[df_column])
    # df_name.loc[:,df_column] = df_name[df_column].lower()
    df_name[df_column] = df_name[df_column].apply(lambda x: x.lower())
    # df_name[df_column] = df_name[df_column].apply(lambda x: x.replace('of', ''))
    df_name[df_column] = df_name[df_column].apply(lambda x: RemoveBannedWords(x, bannedWords))
    df_name[df_column] = df_name[df_column].apply(lambda x: unidecode(x))
    df_name[df_column] = df_name[df_column].apply(lambda x: x.title())
    return df_name

In [34]:
country_cleaning(data_clean,'Country')

,Period,Commodity,Province,Country,State,Value,Quantity_kg,cpi_val,Value-adjusted,Terminated
0,2017-05-01,"1605.30.10 - lobster, prepared or preserved, f...",Newfoundland and Labrador,United States,Massachusetts,2454203,42059,102.17,3023516.55,None
1,2017-05-01,"1605.30.10 - lobster, prepared or preserved, f...",New Brunswick,United States,Massachusetts,20137016,370393,102.17,24808298.71,None
2,2017-05-01,"1605.30.90 - lobster, prepared or preserved, nes",Prince Edward Island,United States,California,31113,1633,102.17,38330.44,None
3,2017-05-01,"1605.30.10 - lobster, prepared or preserved, f...",Quebec,United States,California,98603,2347,102.17,121476.42,None
4,2017-05-01,"1605.30.90 - lobster, prepared or preserved, nes",Prince Edward Island,United States,New Hampshire,310914,15676,102.17,383038.25,None
...,...,...,...,...,...,...,...,...,...,...
57380,1989-02-01,"0306.22.10 - lobsters, (homarus spp), live (te...",British Columbia,Hong Kong,NaN,81553,4538,59.65,172082.30,None
57381,1989-02-01,"0306.12.10 - lobsters in brine, (homarus spp),...",Prince Edward Island,Sweden,NaN,107235,8340,59.65,226273.05,None
57382,1989-02-01,"0306.22.90 - lobsters,(homarus spp), not froze...",Nova Scotia,United States,Massachusetts,16048,1316,59.65,33862.36,None
57383,1989-02-01,"0306.22.10 - lobsters, (homarus spp), live (te...",Nova Scotia,United States,Unknown states,124924,8381,59.65,263598.02,None
57384,1989-02-01,"0306.22.10 - lobsters, (homarus spp), live (te...",New Brunswick,Netherlands,NaN,96990,7144,59.65,204655.41,None

In [68]:
# manually update important countries for mapping
gdp_data.loc[gdp_data['Country Name'].str.contains('Korea, Rep.'), 'Country Name'] = 'Korea, South'
gdp_data.loc[gdp_data['Country Name'].str.contains('Hong'), 'Country Name'] = 'Hong Kong'
gdp_data.loc[gdp_data['Country Name'].str.contains('Gambia'), 'Country Name'] = 'Gambia'
gdp_data.loc[gdp_data['Country Name'].str.contains('Egypt'), 'Country Name'] = 'Egypt'
gdp_data.loc[gdp_data['Country Name'].str.contains('Egypt'), 'Country Name'] = 'Macao'
# collapse east /west germany into germany in data clean
data_clean.loc[data_clean['Country'].str.contains('Germany'), 'Country'] = 'Germany'

In [69]:
# def country_match(countries_to_match, country_options):
result_df = pd.DataFrame(columns = ['country_to_match','best_match', 'all_matches'] )
for country_index in range(len(unmatched)):
        country_to_match = unmatched.iloc[country_index,0].title()
        collection = gdp_country_list.iloc[:,0].to_list()
        best_matches = process.extract(country_to_match, collection, scorer=fuzz.ratio)[0]
        new_row = {'country_to_match': country_to_match, 'best_match':best_matches[0], 'all_matches':str(best_matches)}
        # print(pd.DataFrame(data = [new_row]))
        result_df = pd.concat([result_df, pd.DataFrame([new_row])], ignore_index=True)

        # result_df = result_df.append(country_to_match, best_matches[0], best_matches, ignore_index = True)
result_df

,country_to_match,best_match,all_matches
0,Taiwan,Thailand,"('Thailand', 71)"
1,Macao,Monaco,"('Monaco', 73)"
2,Christmas Island,Cayman Islands,"('Cayman Islands', 67)"
3,United States Minor Outlying Islands,British Virgin Islands,"('British Virgin Islands', 55)"
4,"South Africa,",South Africa,"('South Africa', 100)"
5,"Moldova,",Moldova,"('Moldova', 100)"
6,Central African,Central African Republic,"('Central African Republic', 77)"
7,Saint Pierre And Miquelon,Sierra Leone,"('Sierra Leone', 54)"
8,Dominican,Dominica,"('Dominica', 94)"
9,Bahamas,"Bahamas, The","('Bahamas, The', 74)"
10,"Bonaire, Sint Eustatius And Saba",Antigua and Barbuda,"('Antigua and Barbuda', 51)"
11,Kyrgyzstan,Kazakhstan,"('Kazakhstan', 60)"
12,Slovakia,Slovenia,"('Slovenia', 75)"
13,"Korea, North","Korea, Rep.","('Korea, Rep.', 73)"
14,Trinidad And Tobago,Trinidad and Tobago,"('Trinidad and Tobago', 100)"
15,Iran,Iraq,"('Iraq', 75)"
16,Antigua And Barbuda,Antigua and Barbuda,"('Antigua and Barbuda', 100)"
17,Guadeloupe,Guatemala,"('Guatemala', 53)"
18,Netherlands Antilles,Netherlands,"('Netherlands', 71)"
19,Former Union Soviet Socialist Republics,Dominican Republic,"('Dominican Republic', 55)"
20,Czechoslovakia,Czechia,"('Czechia', 67)"
21,"Saint Helena, Ascension And Tristan Da Cunha",Northern Mariana Islands,"('Northern Mariana Islands', 47)"
22,Martinique,Mauritius,"('Mauritius', 63)"
23,"Congo, Democratic","Congo, Dem. Rep.","('Congo, Dem. Rep.', 69)"
24,"Tanzania, United",Tanzania,"('Tanzania', 67)"
25,French Southern Antarctic Territories,Africa Western and Central,"('Africa Western and Central', 51)"
26,French Southern Territories,French Polynesia,"('French Polynesia', 51)"
27,Laos,Belarus,"('Belarus', 55)"
28,Syria,Serbia,"('Serbia', 73)"
29,Tokelau,Belarus,"('Belarus', 57)"
30,Venezuela,"Venezuela, RB","('Venezuela, RB', 82)"
31,Union Soviet Socialist Republics,Dominican Republic,"('Dominican Republic', 55)"
32,Yugoslavia,Latvia,"('Latvia', 62)"
33,Turks And Caicos Islands,Turks and Caicos Islands,"('Turks and Caicos Islands', 100)"
34,Cote D'Ivoire,Cote d'Ivoire,"(""Cote d'Ivoire"", 100)"
35,Heard Island And Mcdonald Islands,Turks and Caicos Islands,"('Turks and Caicos Islands', 60)"
36,Cocos,Comoros,"('Comoros', 67)"
37,Norfolk Island,Faroe Islands,"('Faroe Islands', 67)"

In [71]:
# QA checks:
# data_clean.loc[data_clean['Country'].str.contains('Gambia')]
# gdp_data.loc[gdp_data['Country Name'].str.contains('Germany')]
# gdp_data.loc[gdp_data['Country Name'].str.contains('Hong')]
gdp_data.loc[gdp_data['Country Name'].str.contains('Macao')]
# data_clean.loc[data_clean['Country'].str.contains('Germany'), 'Country'].unique()

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
67,Macao,NaN,NaN,NaN,NaN,NaN,"4,948,667,540.41","5,278,005,611.91","5,605,484,298.98","5,932,242,990.65",...,"305,595,408,895.27","329,366,576,819.41","332,441,717,791.41","248,362,771,739.13","262,588,632,526.73","318,678,815,489.75","383,817,841,547.10","424,671,765,455.70","476,747,720,364.74",NaN
146,"Macao SAR, China",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"54,902,831,793.50","45,048,188,247.65","45,070,807,279.63","50,440,935,654.01","55,284,309,690.27","55,204,960,999.59","25,459,685,019.55","30,123,795,336.89","21,979,475,560.62",NaN

In [67]:
unmatched['unmatched_export_countries'] = unmatched['unmatched_export_countries'].str.title()
unmatched

                      unmatched_export_countries
0                                         Taiwan
1                                          Macao
2                               Christmas Island
3           United States Minor Outlying Islands
4                                South Africa,
5                                     Moldova,
6                               Central African
7                      Saint Pierre And Miquelon
8                                     Dominican
9                                        Bahamas
10              Bonaire, Sint Eustatius And Saba
11                                    Kyrgyzstan
12                                      Slovakia
13                                  Korea, North
14                           Trinidad And Tobago
15                                          Iran
16                           Antigua And Barbuda
17                                    Guadeloupe
18                          Netherlands Antilles
19      Former Union  Soviet Socialist Republics
20                                Czechoslovakia
21  Saint Helena, Ascension And Tristan Da Cunha
22                                    Martinique
23                          Congo, Democratic
24                            Tanzania, United
25         French Southern Antarctic Territories
26                   French Southern Territories
27                                          Laos
28                                         Syria
29                                       Tokelau
30                                     Venezuela
31             Union  Soviet Socialist Republics
32                                    Yugoslavia
33                      Turks And Caicos Islands
34                                 Cote D'Ivoire
35             Heard Island And Mcdonald Islands
36                                         Cocos
37                                Norfolk Island

In [39]:
data_clean.loc[~data_clean['Country'].isin(gdp_data['Country Name']), 'Country'].value_counts()

Country
Taiwan                                          816
Saint Pierre And Miquelon                       222
Korea, North                                     65
Macao                                            36
Guadeloupe                                       26
South Africa,                                    20
Christmas Island                                 11
Martinique                                       10
Czechoslovakia                                   10
Former Union  Soviet Socialist Republics         10
Netherlands Antilles                              9
United States Minor Outlying Islands              9
Trinidad And Tobago                               5
Dominican                                         4
Union  Soviet Socialist Republics                 4
Bahamas                                           3
Iran                                              3
Saint Helena, Ascension And Tristan Da Cunha      3
Bonaire, Sint Eustatius And Saba                  2
Kyrgyzstan                                        2
Cote D'Ivoire                                     2
Yugoslavia                                        2
Venezuela                                         2
Norfolk Island                                    2
Antigua And Barbuda                               2
Slovakia                                          2
Congo, Democratic                                 1
French Southern Antarctic Territories             1
French Southern Territories                       1
Laos                                              1
Syria                                             1
Tokelau                                           1
Moldova,                                          1
Central African                                   1
Turks And Caicos Islands                          1
Heard Island And Mcdonald Islands                 1
Cocos                                             1
Tanzania, United                                  1
Name: count, dtype: int64

In [40]:
# unmatched countries again
unmatched = list(data_clean.loc[~data_clean['Country'].isin(gdp_data_filtered['Country Name']), 'Country'].unique())
unmatched = pd.DataFrame(data=unmatched, columns=['unmatched_export_countries'])
unmatched

                      unmatched_export_countries
0                                      Hong Kong
1                                   Korea, South
2                                         Taiwan
3                                         Gambia
4                                          Macao
5                               Christmas Island
6                                        Turkiye
7           United States Minor Outlying Islands
8                                South Africa,
9                                     Moldova,
10                                         Egypt
11                              Central African
12                     Saint Pierre And Miquelon
13                                    Dominican
14                                       Bahamas
15              Bonaire, Sint Eustatius And Saba
16                                    Kyrgyzstan
17                                      Slovakia
18                                  Korea, North
19                           Trinidad And Tobago
20                                          Iran
21                           Antigua And Barbuda
22                                    Guadeloupe
23                          Netherlands Antilles
24      Former Union  Soviet Socialist Republics
25                                Czechoslovakia
26  Saint Helena, Ascension And Tristan Da Cunha
27                                    Martinique
28                          Congo, Democratic
29                            Tanzania, United
30         French Southern Antarctic Territories
31                   French Southern Territories
32                                          Laos
33                                         Syria
34                                       Tokelau
35                                     Venezuela
36             Union  Soviet Socialist Republics
37                                    Yugoslavia
38                      Turks And Caicos Islands
39                                 Cote D'Ivoire
40             Heard Island And Mcdonald Islands
41                                         Cocos
42                                Norfolk Island

In [41]:
df = data_clean.loc[data_clean['Country'].isin(unmatched['unmatched_export_countries']),:]
df[['Country', 'Value']].groupby('Country').sum().sort_values(by='Value', ascending = False)

                                                   Value
Country
Korea, South                                  1075849587
Hong Kong                                      644390181
Taiwan                                         164067902
Korea, North                                     5324601
Gambia                                           2130278
Turkiye                                          1551305
Saint Pierre And Miquelon                        1512152
Macao                                            1084879
South Africa,                                     802516
Christmas Island                                  723587
Egypt                                             685968
Norfolk Island                                    308000
Dominican                                         264176
Netherlands Antilles                              246870
United States Minor Outlying Islands              157410
French Southern Territories                       129213
Venezuela                                         102957
Iran                                               75899
Guadeloupe                                         71771
Martinique                                         58514
Cote D'Ivoire                                      54300
Kyrgyzstan                                         44700
Bahamas                                            39841
Bonaire, Sint Eustatius And Saba                   36860
Former Union  Soviet Socialist Republics           33001
Central African                                    32806
Czechoslovakia                                     28809
Moldova,                                           27256
Trinidad And Tobago                                25965
Saint Helena, Ascension And Tristan Da Cunha       14094
Slovakia                                           12465
Laos                                                9000
Antigua And Barbuda                                 7857
Congo, Democratic                                   7800
Syria                                               7200
Union  Soviet Socialist Republics                   5846
Yugoslavia                                          5610
Tanzania, United                                    5100
Heard Island And Mcdonald Islands                   4800
Turks And Caicos Islands                            2678
Cocos                                               2100
Tokelau                                              641
French Southern Antarctic Territories                253


# 2. EDA on Full Data Set
---
---

In [42]:
# surpress scientific notation
pd.options.display.float_format = '{:,.2f}'.format

In [43]:
full_data['Province'].value_counts()

Province
Nova Scotia                  37769
New Brunswick                21260
Newfoundland and Labrador    16195
British Columbia             14299
Prince Edward Island         13276
Quebec                       10953
Ontario                       3957
Alberta                        213
Manitoba                       108
Northwest Territories           87
Saskatchewan                    57
Nunavut                         13
Yukon                            1
Name: count, dtype: int64

In [44]:
# null values in state are for countries other than US
full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118188 entries, 0 to 118187
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Period           118188 non-null  object
 1   Commodity        118188 non-null  object
 2   Province         118188 non-null  object
 3   Country          118188 non-null  object
 4   State            61407 non-null   object
 5   Value ($)        118188 non-null  int64
 6   Quantity         118188 non-null  int64
 7   Unit of measure  118188 non-null  object
dtypes: int64(2), object(6)
memory usage: 7.2+ MB

In [45]:
full_data.loc[(full_data['Country'] == 'United States'), 'State'].value_counts()

State
Massachusetts           15574
California               6084
Maine                    4942
New York                 3295
New Hampshire            3278
Washington               3220
Florida                  3196
New Jersey               2892
Rhode Island             2210
Illinois                 1809
Texas                    1156
Connecticut              1148
Virginia                 1127
Georgia                  1081
Oregon                    966
Pennsylvania              960
Hawaii                    866
Nevada                    786
Michigan                  761
Indiana                   676
Maryland                  668
Kentucky                  441
Ohio                      386
Delaware                  382
Unknown states            343
Missouri                  325
North Carolina            320
Tennessee                 299
Colorado                  274
Arizona                   262
South Carolina            259
Minnesota                 201
Louisiana                 199
Alaska                    170
Mississippi               117
Alabama                   110
Vermont                   102
Kansas                     99
Utah                       95
Nebraska                   70
Wisconsin                  63
District of Columbia       48
Iowa                       26
New Mexico                 25
Oklahoma                   18
Arkansas                   15
Montana                    15
Puerto Rico                15
Idaho                      14
North Dakota               14
South Dakota                2
Wyoming                     1
US Virgin Islands           1
West Virginia               1
Name: count, dtype: int64

In [46]:
exports = data_clean.groupby('Country').mean('Value-adjusted')
exports.sort_values(by='Quantity_kg', ascending=False).head(20)

                                   Value  Quantity_kg  cpi_val  Value-adjusted
Country
China                       2,141,458.44   110,934.39    98.90    2,477,098.72
United States               1,112,436.35    45,622.47    86.96    1,511,284.55
Korea, South                  791,065.87    37,568.93    93.59      976,595.98
Belgium                       584,665.72    34,325.64    87.34      813,991.73
Japan                         585,955.01    30,087.70    83.27      849,206.71
Netherlands                   508,753.01    29,671.40    87.82      709,382.99
France                        379,473.88    28,943.85    85.65      578,379.93
Norfolk Island                154,000.00    25,262.00    79.11      245,028.34
Spain                         420,377.82    22,720.22    93.81      515,795.37
Viet Nam                      348,923.81    22,699.46   101.56      426,214.71
Hong Kong                     350,021.83    19,861.71    90.54      458,677.46
United Kingdom                353,020.33    19,198.97    86.04      493,017.78
Italy                         283,795.41    17,124.56    89.60      388,493.32
Pakistan                      294,818.00    15,876.00   106.97      346,896.63
Germany                       236,169.58    14,370.17    83.21      359,555.47
Sierra Leone                   94,872.50    13,520.00    88.56      148,759.52
Taiwan                        201,063.61    10,698.53    94.81      241,452.23
French Southern Territories   129,213.00    10,255.00    91.12      178,491.07
Denmark                       168,123.56     9,997.20    87.90      218,844.06
Sweden                        136,051.51     9,839.23    83.59      204,625.61

In [47]:
# store in a list
top_countries = list(exports.sort_values(by='Quantity_kg', ascending=False).head(20).index)
top_countries

['China',
 'United States',
 'Korea, South',
 'Belgium',
 'Japan',
 'Netherlands',
 'France',
 'Norfolk Island',
 'Spain',
 'Viet Nam',
 'Hong Kong',
 'United Kingdom',
 'Italy',
 'Pakistan',
 'Germany',
 'Sierra Leone',
 'Taiwan',
 'French Southern Territories',
 'Denmark',
 'Sweden']

In [48]:
data_clean.groupby('Country').mean('Quantity_kg').sort_values(by='Quantity_kg', ascending = False)

,Value,Quantity_kg,cpi_val,Value-adjusted
Country,,,,
China,"2,141,458.44","110,934.39",98.90,"2,477,098.72"
United States,"1,112,436.35","45,622.47",86.96,"1,511,284.55"
"Korea, South","791,065.87","37,568.93",93.59,"976,595.98"
Belgium,"584,665.72","34,325.64",87.34,"813,991.73"
Japan,"585,955.01","30,087.70",83.27,"849,206.71"
...,...,...,...,...
Cocos,"2,100.00",95.00,85.03,"3,108.47"
Myanmar,855.00,57.00,106.73,"1,008.30"
Tokelau,641.00,48.00,60.53,"1,332.87"
Costa Rica,628.00,30.50,89.00,887.21
French Southern Antarctic Territories,253.00,27.00,61.01,521.94

In [49]:
pd.DataFrame(data_clean['Country'].value_counts())

                      count
Country
United States         27364
France                 2527
Japan                  2245
Hong Kong              1841
Belgium                1828
...                     ...
Moldova,                  1
Congo, Democratic         1
Mauritius                 1
Tanzania, United          1
Slovenia                  1

[158 rows x 1 columns]

In [50]:
pd.DataFrame(data_clean['Commodity'].value_counts())

                                                    count
Commodity
0306.22.10 - lobsters, (homarus spp), live (ter...  17998
0306.12.90 - lobsters, (homarus spp), nes, froz...   6824
0306.12.90 - lobsters, nes, frozen                   6379
0306.32.10 - lobsters, live                          5110
1605.30.11 - lobster meat, frozen, simply boile...   4141
0306.22.10 - lobsters, live (terminated 2016-12)     4132
0306.12.10 - lobsters in brine, (homarus spp), ...   3591
0306.12.10 - lobsters, in brine, frozen              1676
1605.30.10 - lobster, prepared or preserved, fr...   1441
1605.30.11 - lobster meat, frozen, cooked by st...   1016
1605.30.91 - lobster, prepared or preserved, in...    961
1605.30.99 - lobster, prepared or preserved, no...    859
0306.22.90 - lobsters,(homarus spp), not frozen...    723
1605.30.19 - lobster meat, not frozen, simply b...    515
1605.30.90 - lobster, prepared or preserved, nes      473
1605.30.99 - lobster, prepared or preserved, o/...    286
1605.30.19 - lobster meat, o/t frozen, cooked b...    252
0306.11.00 - rock lobster & other sea crawfish,...    192
0306.32.90 - lobsters, fresh or chilled, o/t live     164
0306.21.00 - rock lobster & other sea crawfish ...    142
0306.11.00 - rock lobster & o sea crawfish,frz,...    125
1605.30.20 - lobster, prepared or preserved, in...    103
1605.30.12 - lobster meat, not frozen, simply b...     98
0306.22.90 - lobsters, not frozen, other than l...     86
1605.30.92 - lobster, prepared or preserved, no...     47
0306.31.00 - rock lobster and other sea crawfis...     16
0306.92.00 - lobsters, nes, dried/salted/in bri...     15
0306.91.00 - rock lobster & other sea crawfish,...      7
0306.21.00 - rock lobster&o sea crawfish,n froz...      6
0306.15.00 - norway lobster,frz,shell/not,incl ...      5
0306.34.00 - norway lobsters, live, fresh or ch...      2

In [51]:
filtered_df = data_clean.loc[data_clean['Country'].isin(top_countries),:]
filtered_df

,Period,Commodity,Province,Country,State,Value,Quantity_kg,cpi_val,Value-adjusted,Terminated
0,2017-05-01,"1605.30.10 - lobster, prepared or preserved, f...",Newfoundland and Labrador,United States,Massachusetts,2454203,42059,102.17,"3,023,516.55",None
1,2017-05-01,"1605.30.10 - lobster, prepared or preserved, f...",New Brunswick,United States,Massachusetts,20137016,370393,102.17,"24,808,298.71",None
2,2017-05-01,"1605.30.90 - lobster, prepared or preserved, nes",Prince Edward Island,United States,California,31113,1633,102.17,"38,330.44",None
3,2017-05-01,"1605.30.10 - lobster, prepared or preserved, f...",Quebec,United States,California,98603,2347,102.17,"121,476.42",None
4,2017-05-01,"1605.30.90 - lobster, prepared or preserved, nes",Prince Edward Island,United States,New Hampshire,310914,15676,102.17,"383,038.25",None
...,...,...,...,...,...,...,...,...,...,...
57380,1989-02-01,"0306.22.10 - lobsters, (homarus spp), live (te...",British Columbia,Hong Kong,NaN,81553,4538,59.65,"172,082.30",None
57381,1989-02-01,"0306.12.10 - lobsters in brine, (homarus spp),...",Prince Edward Island,Sweden,NaN,107235,8340,59.65,"226,273.05",None
57382,1989-02-01,"0306.22.90 - lobsters,(homarus spp), not froze...",Nova Scotia,United States,Massachusetts,16048,1316,59.65,"33,862.36",None
57383,1989-02-01,"0306.22.10 - lobsters, (homarus spp), live (te...",Nova Scotia,United States,Unknown states,124924,8381,59.65,"263,598.02",None
57384,1989-02-01,"0306.22.10 - lobsters, (homarus spp), live (te...",New Brunswick,Netherlands,NaN,96990,7144,59.65,"204,655.41",None

In [52]:
filtered_df

,Period,Commodity,Province,Country,State,Value,Quantity_kg,cpi_val,Value-adjusted,Terminated
0,2017-05-01,"1605.30.10 - lobster, prepared or preserved, f...",Newfoundland and Labrador,United States,Massachusetts,2454203,42059,102.17,"3,023,516.55",None
1,2017-05-01,"1605.30.10 - lobster, prepared or preserved, f...",New Brunswick,United States,Massachusetts,20137016,370393,102.17,"24,808,298.71",None
2,2017-05-01,"1605.30.90 - lobster, prepared or preserved, nes",Prince Edward Island,United States,California,31113,1633,102.17,"38,330.44",None
3,2017-05-01,"1605.30.10 - lobster, prepared or preserved, f...",Quebec,United States,California,98603,2347,102.17,"121,476.42",None
4,2017-05-01,"1605.30.90 - lobster, prepared or preserved, nes",Prince Edward Island,United States,New Hampshire,310914,15676,102.17,"383,038.25",None
...,...,...,...,...,...,...,...,...,...,...
57380,1989-02-01,"0306.22.10 - lobsters, (homarus spp), live (te...",British Columbia,Hong Kong,NaN,81553,4538,59.65,"172,082.30",None
57381,1989-02-01,"0306.12.10 - lobsters in brine, (homarus spp),...",Prince Edward Island,Sweden,NaN,107235,8340,59.65,"226,273.05",None
57382,1989-02-01,"0306.22.90 - lobsters,(homarus spp), not froze...",Nova Scotia,United States,Massachusetts,16048,1316,59.65,"33,862.36",None
57383,1989-02-01,"0306.22.10 - lobsters, (homarus spp), live (te...",Nova Scotia,United States,Unknown states,124924,8381,59.65,"263,598.02",None
57384,1989-02-01,"0306.22.10 - lobsters, (homarus spp), live (te...",New Brunswick,Netherlands,NaN,96990,7144,59.65,"204,655.41",None

In [53]:
cols = ['Period', 'Country', 'Value($)']
filtered_df = filtered_df[['Period','Commodity', 'Country', 'Quantity', 'Value ($)']]

KeyError: "['Quantity', 'Value ($)'] not in index"

In [ ]:
data

In [ ]:
sns.scatterplot(x=data['Period'], y=data['Value ($)'], alpha = 0.2)

# bin

dont need... got relevant HS codes another way

In [ ]:
hs_8 = pd.read_csv('data/codes_hs8.csv', sep = ',',skiprows = 1, engine='python', skipfooter = 5, index_col=False)
# hs_8 = pd.read_csv('codes_hs8.csv', sep = ',', skipfooter = 5)

In [ ]:
pd.set_option('display.max_colwidth', None)
hs_8['Commodity'] = hs_8['Commodity'].str.lower()

In [ ]:
hs_lobster = hs_8.loc[hs_8['Commodity'].str.contains('lobster'),:]

In [ ]:
hs_lobster['Commodity'].unique()

### Testing univariate ARIMA

With only data from 1 country, for 1 commodity, using Quantity.

In [ ]:
# find country with most complete data accross time. most countries have great data since 2017

In [ ]:
data

In [ ]:
codes = ['0306.22.10', '0306.32.10']

In [ ]:
arima_test = filtered_df[filtered_df['Commodity'].str[:10].isin(codes)].sort_values(by='Period')
arima_test.groupby('Country').count().sort_values(by='Period', ascending = False)
# arima_test

In [ ]:
# filter for one country --- belgium as example
arima_test = arima_test.loc[arima_test['Country'] == 'Belgium']

In [ ]:
# drop cextra columns
arima_test.drop(columns=['Country', 'Value ($)'], inplace = True)
arima_test

In [ ]:
# count records by year, check that there is no overlap
arima_test.groupby(arima_test['Period'].dt.year).count()

In [ ]:
# arima_test = arima_test.drop(columns=['Commodity'])
arima_test = arima_test.reset_index(drop=True)
arima_test

In [ ]:
import seaborn as sns

In [ ]:
sns.lineplot(x = arima_test['Period'], y=arima_test['Quantity'])

In [ ]:
from pandas import datetime
from matplotlib import pyplot
from pandas.plotting import autocorrelation_plot

def parser(x):
 return datetime.strptime('190'+x, '%Y-%m')

series = read_csv('shampoo-sales.csv', header=0, parse_dates=[0], index_col=0, squeeze=True, date_parser=parser)
autocorrelation_plot(series)
pyplot.show()

In [ ]:
japan_data = japan_data[['Period','Quantity']]
japan_data

In [ ]:

japan_data = japan_data.groupby('Period').sum(['Quantity', 'Value ($)']).reset_index(drop=False)
japan_data['Value per kg'] = japan_data['Value ($)'] / japan_data['Quantity']
japan_data

In [ ]:
japan_data['Year'] = japan_data['Period'].dt.year
japan_data

### other

In [ ]:
japan_data_recent = japan_data.loc[japan_data['Period'] > '2020', :].reset_index(drop = True)
japan_data_recent

In [ ]:
sns.lineplot(x=japan_data_recent['Year'], y=japan_data_recent['Quantity'])

In [ ]:
data

In [ ]:
sns.lineplot(x=data['Period'], y=data['Value ($)'])